<h1>TODO</h1>
<ul>
  <li>landing page</li>
  <li>Set up database</li>
  <li>Create full entries</li>
  <li><a href="/entries">Read full entries</a></li>
  <li>Update full entries</li>
  <li>Destroy full entries</li>
  <li>Create topics</li>
  <li>Read all entries for a topic</li>
  <li>Destroy an entry for a topic</li>
</ul>
